/* ===========================
   HERO
=========================== */

#hero{

    position:relative;

    width:100%;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f7f3f1;

    overflow:hidden;

}

/* Imagem principal */

.hero-image{

    width:100%;

    height:auto;

    display:block;

    object-fit:cover;

}

/* Desktop muito grande */

@media(min-width:1600px){

    .hero-image{

        width:90%;

        margin:auto;

    }

}

/* Tablets */

@media(max-width:1024px){

    .hero-image{

        width:100%;

    }

}

/* Celulares */

@media(max-width:768px){

    #hero{

        min-height:auto;

    }

    .hero-image{

        width:100%;

        height:auto;

    }

}
