/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

:root{

    --background:#F7F2F0;
    --text:#181818;
    --transition:.6s ease;

}

body{

    background:var(--background);
    color:var(--text);

    overflow-x:hidden;

    font-family:
        Inter,
        Arial,
        Helvetica,
        sans-serif;

}

section{

    width:100%;

}

img{

    max-width:100%;
    display:block;

}

a{

    text-decoration:none;
    color:inherit;

}

ul{

    list-style:none;

}
